#options-top {
    background-color: rgb(38, 38, 38);
    padding: 0.2rem;
}

#options-top button {
    outline: none;
    border: 1px solid rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.4);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    font-weight: 500;
}

#options-top button:hover {
    background-color: rgb(55, 55, 55);
    color: rgba(255, 255, 255, 0.7);
}